.card {
  width: 373px;
  height: fit-content;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #667EEA, #764BA2);
    color: white;
    font-size: 21px;
    font-weight: 600;
    border-radius: 20px 20px 0 0;

    .title {
      margin-left: 24px;
    }
      
    img {
      border-radius: 50%;
      width: min-content;
      height: min-content;
      margin: 12px 24px 8px 0;
    }
  } 
    
  .description {
    border: #DDDCDC 1px solid;
    padding: 24px 20px;
    border-radius: 0 0 20px 20px;
  }

  &:hover {
    animation: hoverCard .5s forwards;
  }
}

@keyframes hoverCard {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px #c4c4c4;
  }
  100% {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 15px #c4c4c4;
  }
}
