$fontFamily: "Arimo", sans-serif;

.task_item {
    
    
    // max-height: 500px;
}

.task_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddcdc;
    border-radius: 15px;
    padding: 30px 16px 30px 21px;
    max-width: 373px;

}

.task_heading {
    font-family: $fontFamily;
    font-weight: 700;
    font-size: 24px;
    color: #343434;
    margin-bottom: 15px;
    max-height: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 5px;
}

.task_content {
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 40px;
    max-height: 270px;
    max-width: 336px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    padding-right: 10px;
}

.task_management {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overdue {
    background-color: #fbb;;
}

.active {
    background-color: #fff;
}

.completed {
    background-color: #deefff;
}