.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .top-btn {
        display: flex;
        width: 322px;
        justify-content: space-between;
        margin: 48px 0 24px 0;
        
        .add-new-enviroment-btn {
            font-size: 25px;
            font-weight: 600;
            border-radius: 50%;
            padding: 5px 12px;
        }
    }
    
    .card-container {
        list-style: none;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        flex-direction: row;
        
        .card-item {
            opacity: 0;
            &.show {
                animation-duration: .2s;
                animation: ShowCardAnim .4s forwards;
            }
        }
    }
}

@keyframes ShowCardAnim {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  
@media (max-width: 1280px) {
    .main-section { 
        .card-container { 
            justify-content: space-evenly;
        }
    }
}

// TO DO: Настроить, Добавить стили карт и т.д.
@media (max-width: 484px) {

}