* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #000;
    line-height: 1;
    font-weight: 400;
}

a,
a:hover,
a:active {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

ul {
    list-style: none;
}

button,
button:active,
button:hover {
    border: none;
    cursor: pointer;
    background: none;
}
